<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/style.css">
    <title>Document</title>
</head>
<body>
    <header>
        <nav class="navigation">
            <div class="nav-bar-1">
                <a href='.'><img src="/img/logo-mercado-liebre.svg" alt=""></a>
                <div class="boton-form">
                    <input type="text" placeholder="Buscar productos, marcas, etc">
                    <button class=""><i class="fa-solid fa-magnifying-glass"></i></button>
                </div>
                <div class="compra-cuotas">
                    <i class="fa-solid fa-hand-holding-dollar"></i>
                    <span>Comprá en cuotas y sin tarjeta de crédito</span>
                </div>  
            </div>
            <div class="hamburguer">
                <i class="fa-solid fa-bars hamburger"></i>
            </div> 
            <div class="nav-bar-2">
                <ul id="menu">
                    <li><a href="#">Ofertas</a></li>
                    <li><a href="#">Tiendas oficiales</a></li>
                    <li><a href="#">Vender</a></li>
                    <li><a href="#">Ayuda</a></li>
                </ul>
                <ul id="menu-2">
                    <li><a href='/registro'>Crea tu cuenta <i class="fa-regular fa-id-card"></i></a></li>
                    <li><a href='/login'>Ingresá <i class="fa-solid fa-right-to-bracket"></i></a></li>
                    <li><a href="#">Mis compras <i class="fa-solid fa-basket-shopping"></i></a></li>
                </ul>  
            </div>
        </nav>           
    </header>

    <!-- Home -->
    <section class="home">
        <img src="/img/img-home-banner.jpg" alt="">
    </section>

    <!-- Products -->
    <section>
        <div class="container">
            <h2>Basado en tu última visita</h2>
            <div class="productos">
                <div class="producto">
                    <img src="img/img-cafetera-moulinex.jpg" alt="Cafetera" width="100%">
                    <div class="descripcion">
                        <i class="fa-solid fa-truck" style="color: green;"></i>
                        <div class="titulo">
                            <p class="precio">$6.770</p>
                            <p class="descuento">40% off</p>
                        </div>
                        <h4>Cafetera Moulinex</h4>
                    </div>
                </div>
                <div class="producto">
                    <img src="img/img-macbook-pro-2019.jpg" alt="MacBook" width="100%">
                    <div class="descripcion">
                        <i class="fa-solid fa-truck" style="color: green;"></i>
                        <div class="titulo">
                            <p class="precio">$230.000</p>
                            <p class="descuento">20% off</p>
                        </div>
                        <h4>MacBook Pro 2019</h4>
                    </div>
                </div>
                <div class="producto">
                    <img src="img/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy" width="100%">
                    <div class="descripcion">
                        <i class="fa-solid fa-truck" style="color: green;"></i>
                        <div class="titulo">
                            <p class="precio">$70.500</p>
                            <p class="descuento">10% off</p>
                        </div>
                        <h4>Samsung Galaxy S10</h4>
                    </div>
                </div>
                <div class="producto">
                    <img src="img/img-tv-samsung-smart.jpg" alt="Smart Tv Samsung" width="100%">
                    <div class="descripcion">
                        <i class="fa-solid fa-truck" style="color: green;"></i>
                        <div class="titulo">
                            <p class="precio">$23.200</p>
                            <p class="descuento">5% off</p>
                        </div>
                        <h4>Smart Tv Samsung 43"</h4>
                    </div>
                </div>  
            </div>
        </div>
    </section>

    <!-- Offers -->
    <section>
        <div class="container">
            <h2>Sección de ofertas</h2>
            <div class="productos">
                <div class="producto">
                    <img src="img/img-macbook-pro-2019.jpg" alt="MacBook" width="100%">
                    <div class="descripcion">
                        <i class="fa-solid fa-truck" style="color: green;"></i>
                        <div class="titulo">
                            <p class="precio">$230.000</p>
                            <p class="descuento">20% off</p>
                        </div>
                        <h4>MacBook Pro 2019</h4>
                    </div>
                </div>
                <div class="producto">
                    <img src="img/img-tv-samsung-smart.jpg" alt="Smart Tv Samsung" width="100%">
                    <div class="descripcion">
                        <i class="fa-solid fa-truck" style="color: green;"></i>
                        <div class="titulo">
                            <p class="precio">$23.200</p>
                            <p class="descuento">5% off</p>
                        </div>
                        <h4>Smart Tv Samsung 43"</h4>
                    </div>
                </div>  
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer>
        <div class="footer-container">
            <div class="bullet-points">
                <div class="elemento">
                    <i class="fa-solid fa-credit-card"></i>
                    <h3>Pagá con tarjeta de crédito o en efectivo</h3>
                    <p>Con MercadoLiebreCash tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. !Y siempre es seguro!</p>
                </div>
                <div class="elemento">
                    <i class="fa-solid fa-gift"></i>
                    <h3>Envío gratis desde $ 2.500</h3>
                    <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
                </div>
                <div class="elemento">
                    <i class="fa-solid fa-user-shield"></i>
                    <h3>Seguridad, de principio a fin</h3>
                    <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
                </div>
            </div>
            <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </div>
        
    </footer>



    <script src="https://kit.fontawesome.com/2396c6fc63.js" crossorigin="anonymous"></script>
</body>
</html>