<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/form_style.css">
    <title>Document</title>
</head>
<body>
    <header>
        <nav class="navigation">
            <div class="nav-bar-1">
                <a href='.'><img src="/img/logo-mercado-liebre.svg" alt=""></a>
                <div class="boton-form">
                    <input type="text" placeholder="Buscar productos, marcas, etc">
                    <button class=""><i class="fa-solid fa-magnifying-glass"></i></button>
                </div>
                <div class="compra-cuotas">
                    <i class="fa-solid fa-hand-holding-dollar"></i>
                    <span>Comprá en cuotas y sin tarjeta de crédito</span>
                </div>  
            </div>
            <div class="hamburguer">
                <i class="fa-solid fa-bars hamburger"></i>
            </div> 
            <div class="nav-bar-2">
                <ul id="menu">
                    <li><a href="#">Ofertas</a></li>
                    <li><a href="#">Tiendas oficiales</a></li>
                    <li><a href="#">Vender</a></li>
                    <li><a href="#">Ayuda</a></li>
                </ul>
                <ul id="menu-2">
                    <li><a href='/registro'>Crea tu cuenta <i class="fa-regular fa-id-card"></i></a></li>
                    <li><a href='/login'>Ingresá <i class="fa-solid fa-right-to-bracket"></i></a></li>
                    <li><a href="#">Mis compras <i class="fa-solid fa-basket-shopping"></i></a></li>
                </ul>  
            </div>
        </nav>           
    </header>

    <main>
        <div class="container">
            <h1>Login</h1>
            <form action="" name="login">
              <div class="form-group">
                <label for="username">Username</label>
                <input type="text" name="username" id="username">
              </div>
          
              <div class="form-group">
                <label for="password">Password</label>
                <input type="password" name="password" id="password">
              </div>
          
              <a href='.'><button class="send" type="button">Sign in</button></a>
            </form>
          </div>
    </main>
    <script src="https://kit.fontawesome.com/2396c6fc63.js" crossorigin="anonymous"></script>
</body>
</html>